<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aboutme</title>
</head>
<body>
    <section class="about-me">
        <div class="row">
            <div class="left">
                <h1>ABOUT ME</h1>
                <img src="image.jpg">

                <p>I am a front-end web developer. I can provide clean code and pixel
                  perfect design.I also make the website more and more interactive with 
                  web animations.A responsive design makes your website accessible to all 
                  users,regardless of their device.  
                </p>
                <div class="foot">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
                <button class="ht">Let's Talk</button>

            
                    
                    
                
                
            </div>
            
        </div>
    </section>
</body>
</html>