<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice</title>
    <link rel="stylesheet"  a href="/static/practice.css">
</head>
<body>
    <section class="services">
         
        <div class="container">
            
            <div class="col">
                {% for n in practicesss %}
                {{n.title_icon}}
                <p> {{n.desc_icon|safe}}</p>
                {% endfor %}
            </div>
            
            <div class="col">
                <h1>account</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Qui fuga nostrum autem illum velit?</p>
            </div>
            <div class="col">
                <h1>about</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Qui fuga nostrum autem illum velit?</p>
            </div>
            <div class="col">
                <h1>info</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Qui fuga nostrum autem illum velit?</p>
            </div>
            <div class="col">
                <h1>dropdown</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Qui fuga nostrum autem illum velit?</p>
            </div>
            <div class="col">
                <h1>ioe</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Qui fuga nostrum autem illum velit?</p>
            </div>
        </div>
    </section>
    
</body>
</html>