<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign_up</title>
</head>
<body>
    <div class="container">
        <h1>WELCOME TO SIGNUP PAGE</h1>
            
        <form action="/signup" method="post">
        {% csrf_token %}    
            <label>username</label>
            <input type="text" id="username" name="username" placeholder="enter your username" required>
            <br>
            <label>First name</label>
            <input type="text" id="fname" name="fname" placeholder="enter your firstname" required>
            <br>
            <label>lastname</label>
            <input type="text" id="lname" name="lname" placeholder="enter your lastname" required>
            <br>
            <label>email</label>
            <input type="email" id="email" name="email" placeholder="enter your email" required>
            <br>
            <label>password</label>
            <input type="password" id="pass1" name="pass1" placeholder="enter your password" required>
            <br>
            <label>confirm_password</label>
            <input type="password" id="pass2" name="pass2" placeholder="cofirm your password" required>
            <br>
            <button type="submit">signup</button>

            

        </form>
    </div>
</body>
</html>